<!DOCTYPE html>
<html
  lang="ko"
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{layout/layout}">
<head>
  <title layout:fragment="title">Board</title>
  <link layout:fragment="css" rel="stylesheet" th:href="@{/css/boardList.css}">
</head>
<body>
<div layout:fragment="content" class="content">
  <div class="board-header">
    <button class="board-header-register">
      <a th:href="@{/board/register(page=${pageHandler.nowPage}, size=${pageHandler.pageSize})}">
        작성하기
      </a>
    </button>
    <h1 class="board-header-title">게시판</h1></div>
  <div class="board-container" th:each="board : ${page.content}">
    <div class="board-left">
      <div class="board-user">
        <p th:text="${board.memberName}">이름</p>
        <p
          class="board-user-createDate"
          th:text="${#temporals.format(board.createDate, 'yyyy-MM-dd')}"
          th:data-createDate="${board.createDate}"></p>
      </div>
      <div class="board-title">
        <a
          th:text="${board.title}"
          th:href="@{/board/{boardId} (boardId=${board.id})}">글제목
        </a>
      </div>
      <div class="board-category">
        <span th:text="${board.categoryName}">카테고리</span>
      </div>
    </div>
    <div class="board-right">
      <div class="board-update-container">
        <div
          class="board-update-hidden"
          th:data-page="${pageHandler.nowPage}"
          th:data-size="${pageHandler.pageSize}"
          th:data-id="${board.id}">
            <button
              class="board-update-hidden-modify"
              onclick="updateBoard(this)">수정하기
            </button>
            <button
              class="board-update-hidden-delete"
              onclick="deleteBoard(this)">삭제하기
            </button>
        </div>
        <div
          class="board-update-btn"
          onclick="viewUpdateBox(this)"
          th:if="${#authentication.principal.memberId == board.memberId}">
          <p class="board-update-btn-text">...</p>
        </div>
      </div>
      <div class="board-cnt-container">
        <span th:text="'조회수 ' + ${board.viewCnt}"/>
        <span th:text="'댓글 ' + ${board.replyCnt}"/>
        <span th:text="'추천수 ' + ${board.recommendCnt}"/>
      </div>
    </div>
  </div>
  <div class="board-page-container" >
    <a
      class="board-page-previous"
      th:if="${pageHandler.isPrevious()}"
      th:href="@{/board(page=${pageHandler.startPage - 1}, size=${pageHandler.pageSize})}"
      th:text="Previous"></a>
    <div class="board-page-idx-container" th:each="i : ${#numbers.sequence(pageHandler.startPage, pageHandler.enePage)}">
      <a
        th:class="${pageHandler.nowPage == i ? 'on' : ''}"
        th:href="@{/board(page=${i}, size=${pageHandler.pageSize})}"
        th:text="${i}"></a>
    </div>
    <a
      class="board-page-next"
      th:if="${pageHandler.isNext()}"
      th:href="@{/board(page=${pageHandler.enePage + 1}, size=${pageHandler.pageSize})}"
      th:text="Next">
    </a>
  </div>

  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script th:src="@{/js/boardList.js}"></script>

</div>
</body>
</html>