<!DOCTYPE html>
<html
  lang="ko"
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{layout/layout}">
<head>
  <title layout:fragment="title">Board</title>
  <link layout:fragment="css" rel="stylesheet" th:href="@{/css/boardList.css}">
</head>
<body>
<div layout:fragment="content" class="content">
  <div class="board-header">
    <button class="board-header-register">
      <a th:href="@{/board/register}">작성하기</a>
    </button>
    <h1 class="board-header-title">게시판</h1></div>
  <div class="board-container" th:each="board : ${boards}">
    <div class="board-left">
      <div class="board-user">
        <p th:text="${board.memberName}">이름</p>
        <p
          class="board-user-createDate"
          th:text="${#temporals.format(board.createDate, 'yyyy-MM-dd')}"
          th:data-createDate="${board.createDate}"></p>
      </div>
      <div class="board-title">
        <a
          th:text="${board.title}"
          th:href="@{/board/{boardId} (boardId=${board.id})}">글제목
        </a>
      </div>
      <div class="board-category">
        <span th:text="${board.categoryName}">카테고리</span>
      </div>
    </div>
    <div class="board-right">
      <span th:text="'조회수 ' + ${board.viewCnt}"/>
      <span th:text="'댓글 ' + ${board.replyCnt}"/>
      <span th:text="'추천수 ' + ${board.recommendCnt}"/>
    </div>
  </div>
  <script th:src="@{/js/boardList.js}"></script>
</div>
</body>
</html>