<!DOCTYPE html>
<html
  lang="ko"
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
  layout:decorate="~{layout/layout}">
<head>
  <title>Board</title>
  <link layout:fragment="css" rel="stylesheet" th:href="@{/css/board.css}">
</head>
<body>
<div layout:fragment="content" class="content">
  <div class="board-header">
    <p th:text="${boardDto.categoryParentName}"></p>
    <p> / </p>
    <p th:text="${boardDto.categoryName}" class="board-header-subcategory"></p>
  </div>
  <div class="board-user">
    <p
      class="board-user-name"
      th:text="${boardDto.getMemberName}"></p>
    <p
      class="board-user-createDate"
      th:text="${#temporals.format(boardDto.createDate, 'yyyy-MM-dd')}"
      th:data-createDate="${boardDto.createDate}"></p>
    <p
      class="board-user-viewCnt"
      th:text="'조회수 ' +  ${boardDto.viewCnt}"></p>
  </div>
  <div class="board-title">
    <h1 th:text="${boardDto.title}"></h1>
  </div>
  <div class="board-content">
    <p th:text="${boardDto.content}"></p>
  </div>
  <div class="board-recommend">
    <button
      class="board-recommend-remove"
      onclick="removeRecommendation()"
      th:style="
        ${boardDto.recommendationStatus != null && boardDto.recommendationStatus.name() == 'DOWN_VOTED'
          ? 'color : tomato'
          : 'color : lightgray'}">&lt;
    </button>
    <p class="board-recommend-cnt" th:text="${boardDto.recommendCnt}"></p>
    <button
      class="board-recommend-add"
      onclick="addRecommendation()"
      th:style="
        ${boardDto.recommendationStatus != null && boardDto.recommendationStatus.name() == 'UP_VOTED'
          ? 'color : lightskyblue'
          : 'color : lightgray'}">&gt;
    </button>
  </div>
  <div class="board-reply-cnt">
    <p th:text="${boardDto.replyCnt} + '개의 댓글'"></p>
  </div>
  <div class="board-reply-register-container">
    <textarea
      class="board-reply-register-text"
      placeholder="댓글을 작성해주세요."></textarea>
    <button
      type="submit"
      class="board-reply-register-btn"
      onclick="registerReply()">댓글 쓰기
    </button>
  </div>

  <div class="board-reply-container">
    <div class="board-reply">
      <div class="board-reply-header">
        <div class="board-reply-user">
          <div class="board-reply-name"></div>
          <div class="board-reply-date"></div>
        </div>
        <div class="board-reply-recommend">
          <button class="board-reply-recommend-remove">&lt;</button>
          <p class="board-reply-recommend-cnt">0</p>
          <button class="board-reply-recommend-add">&gt;</button>
        </div>
      </div>
      <div class="board-reply-content"></div>
    </div>
  </div>
  <input type="hidden" id="board-hidden-id" th:value="${boardDto.id}">
  <input type="hidden" id="board-hidden-recommend" th:value="${boardDto.recommendationStatus}">

  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script th:src="@{/js/board.js}"></script>
</div>
</body>
</html>