<!DOCTYPE html>
<html
  lang="en"
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{layout/layout.html}">
<head>
  <title layout:fragment="title">Sign</title>
  <link rel="stylesheet" th:href="@{/css/signForm.css}">
</head>
<body>
<div layout:fragment="content" class="content">
  <div class="signform-container">
    <form class="signform-form"
      th:object="${memberDTO}"
      th:action="@{/member/sign}"
      th:method="post">

      <h1 class="signform-title">회원가입</h1>
      <label th:for="name"></label>
      <input
        type="text"
        th:field="*{name}"
        placeholder="이름을 입력해주세요.">
      <label th:for="password"></label>
      <input
        type="password"
        th:field="*{password}"
        placeholder="비밀번호를 입력해주세요.">
      <span class="signform-error-password"></span>
      <label th:for="username"></label>
      <input
        type="text"
        th:field="*{email}"
        placeholder="이메일을 입력해주세요.">
      <span class="signform-error-email"></span>
      <label th:for="phone"></label>
      <input
        type="text"
        th:field="*{phone}"
        placeholder=" 휴대폰번호  '-'  를 포함하여 입력해주세요.">
      <span class="signform-error-phone"></span>
      <div class="signform-btn-container">
        <button class="signform-signbtn" type="submit" onclick="return validForm()">
          회원가입
        </button>
      </div>
    </form>
  </div>
  <script th:src="@{/js/signForm.js}"></script>
</div>
</body>
</html>