.board-header {
  margin-bottom: 10px;
  display: flex;
  gap: 10px;
  font-size: 14px;
  padding: 15px 10px;
  border-bottom: 1px solid #eee;

  .board-header-subcategory {
    color: lightskyblue;
  }
}

.board-user {
  margin-bottom: 20px;
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  font-size: 16px;

  .board-user-name {
    flex-basis: 100%;
    margin-bottom: 5px;
    color: black;
  }

  .board-user-createDate, .board-user-viewCnt {
    font-size: 13px;
    margin-right: 10px;
  }
}

.board-title {
  padding: 10px;
  font-size: 24px;
  margin-bottom: 10px;

}

.board-content {
  padding: 10px;
  line-height: normal;
}

.board-recommend {
  display: flex;
  gap: 10px;
  justify-content: flex-end;
  padding-bottom: 20px;
  margin-bottom: 10px;
  border-bottom: 1px solid #eee;
  padding-right: 10px;

  button {
    background: white;
    border: none;
    width: 20px;
    cursor: pointer;
    color: lightgray;
  }

  .board-recommend-remove {
    transform: rotate(-90deg) scaley(2) scale(1.5);
    margin-right: 10px;
  }

  .board-recommend-cnt {
    width: 30px;
    text-align: center;
  }

  .board-recommend-add {
    margin-left: 10px;
    transform: rotate(-90deg) scaley(2) scale(1.5);
  }

}

.board-reply-cnt {
  padding: 15px 10px 20px 10px;
  font-size: 14px;
}

.board-reply-register-container {
  padding: 10px;
  border: 1px solid #eee;
  border-radius: 5px;
  height: 100px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;

  .board-reply-register-text {
    resize: none;
    height: 100px;
    margin-bottom: 10px;
    padding: 10px 20px;
  }

  .board-reply-register-btn {
    align-self: flex-end;
    width: 80px;
    color: white;
    background-color: lightskyblue;
    border-radius: 7px;
    border: none;
    cursor: pointer;
  }
}

.board-reply {
  border-bottom: 1px solid #eee;
  padding-bottom: 10px;
}

.board-reply-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.board-reply-name {
  font-size: 13px;
  margin-bottom: 5px;
}

.board-reply-date {
  font-size: 12px;
  margin-bottom: 5px;
}

.board-reply-recommend {
  display: flex;
  gap: 5px;
  margin-right: 5px;

  button {
    background: white;
    border: none;
    width: 20px;
    cursor: pointer;
    color: lightgray;
    transform: rotate(-90deg) scaleY(1.5);
  }

  .board-reply-recommend-cnt {
    width: 20px;
    text-align: center;
  }
}

.board-reply-content {
  padding: 10px 20px 10px 10px;
  font-size: 15px;
  overflow-wrap: break-word;
  word-break: break-all;
}

.board-reply-update-container {
  display: flex;
  justify-content: flex-end;
  height: 30px;
  margin-right: 20px;

  .board-reply-update-hidden {
    width: 120px;
    border: 1px solid #eee;
    border-radius: 5px;
    margin-right: 10px;
    padding: 5px;
    display: none;

    div[class*='board-reply-update-hidden'] {
      font-size: 6px;
      color: black;
      font-weight: bold;
      cursor: pointer;
      flex: 1;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    :first-child {
      border-right: 1px solid #eee;
    }

    .board-reply-update-hidden-modify:hover {
      color: lightskyblue;
    }

    .board-reply-update-hidden-delete:hover {
      color: tomato;
    }
  }


  .board-reply-update-btn {

    .board-reply-update-btn-text {
      font-size: 25px;
      color: lightgray;
      cursor: pointer;
      letter-spacing: 1.5px;
    }
  }

  .board-reply-update-btn-text:hover {
    color: lightskyblue;
  }
}

.board-reply-update-hidden.flex-on {
  display: flex;
}

.board-profile-container {
  display: flex;
  justify-content: space-between;

  .board-update-container {
    margin-right: 15px;
    display: flex;
    gap: 20px;
    height: 50px;

    .board-update-hidden {
      display: none;
      flex-direction: column;
      border: 1px solid #ccc;
      border-radius: 10px;
      background-color: white;
      padding: 3px 2px;

      button {
        width: 60px;
        height: 20px;
        font-size: 8px;
        border: none;
        background-color: white;
        cursor: pointer;
        font-weight: bold;
      }
    }

    .board-update-hidden.flex-on {
      display: flex;
    }

    .board-update-hidden-update:hover {
      color: lightskyblue;
    }

    .board-update-hidden-delete:hover {
      color: tomato;
    }

    .board-update-btn {
      color: lightgray;
      font-size: 25px;
    }

    .board-update-btn:hover {
      color: lightskyblue;
      cursor: pointer;
    }
  }
}

.board-reply-update-form {
  border: 1px solid #eee;
  display: none;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
  flex-wrap: wrap;
  padding: 10px;

  .board-reply-update-text {
    flex-basis: 100%;
    resize: none;
    padding: 10px 20px;
    min-height: 70px;
    width: 750px
  }

  .board-reply-update-btn-container {
    margin-left: auto;
    margin-top: 7px;

    button {
      background-color: lightskyblue;
      color: white;
      border: none;
      border-radius: 5px;
      padding: 0 6px;
      font-size: 12px;
      cursor: pointer;
    }
  }
}